%% -*- mode: erlang;erlang-indent-level: 4;indent-tabs-mode: nil -*-
{cover_enabled, true}.

{erl_opts, [debug_info, fail_on_warning]}.
{eunit_opts, [verbose]}.

{deps, [
        {riak_dt, ".*",     {git, "git://github.com/basho/riak_dt.git",  {branch, "develop"}}},
        {riak_ql, ".*",     {git, "git://github.com/basho/riak_ql.git",  {branch, "gg/africa"}}},
        {mochiweb, "2.9.0", {git, "git://github.com/basho/mochiweb.git", {tag,    "v2.9.0p1"}}}
       ]}.

